.side-bar-container {
    display: flex;
    flex-direction: column;
    background: #D6D8D8;
    align-items: center;
    min-width: 280px;
    box-shadow: 0 0px 5px #4e4e4e;  
    padding: 14px 40px;
    z-index: 3;
}

.tickers-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 15px;
}

.indv-ticker-container {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    border-radius: 10px;
    padding: 15px;
    background: #e8e8e8;
}

.indv-ticker-container:hover {
    cursor: pointer;    
    background: #cacaca;
}

.delete-icon {
    height: auto;
    width: auto;
    max-height: 30px;
}

.company-name {
    font-size: 25px;
}

.side-bar-title {
    margin-bottom: 15px;
    font-size: 30px;
}

.no-tickers {
    font-size: 25px;
    padding: 20px;
    margin: 5px 0;
    border-radius: 10px;
    padding: 15px;
    background: #e8e8e8;
}

.active {
    background: white;
}