.side-bar-container {
    display: flex;
    flex-direction: column;
    background: #D6D8D8;
    align-items: center;
    justify-content: space-around;
    min-width: 280px;
    box-shadow: 0 0px 5px #4e4e4e;  
    padding: 40px;
}

.tickers-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #e8e8e8;
    border-radius: 5px;
    padding: 15px;
    /* box-shadow: 0px 0px 20px 0px; */
}

.indv-ticker-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.delete-icon {
    height: auto;
    width: auto;
    max-height: 30px;
}

.delete-icon:hover {
    cursor: pointer;
}

.company-name {
    font-size: 25px;
}

.side-bar-title {

}